@import url("../css/styleglobal.css");


/* =============== Main artigo  / SEM LATERAL ============== */
.parte-principal {
    display: flex;
    flex-direction: column;
    padding-top: 8%;    
    color: #504e4e;
    width: 100%;
    border-bottom: 1px solid #e7e6e6;
    
}
.div-texto-principal {     
    width: 100%;
}

.artigos-principais {
    display: flex;
    flex-direction: column;    
    padding: 4%;
    padding-top: 0;     
    
}
.artigos-principais p {margin-bottom: 3%;}
.artigos-principais h1 {text-align: center; font-size: 35px; margin-top: 8%; margin-bottom: 8%; text-transform: uppercase; font-weight: normal;}
.artigo-principal-01 h1 {margin-top: 0; } 
.artigos-principais h2 {margin-top: 2%; margin-bottom: 2%; font-size: 18px; color: #4d3475;}

.autor, .artigos-principais span {font-style: italic;} 

@media screen and (max-width:970px) { 
    .artigos-principais img {
        height: 380px;
    }
    
}
@media screen and (max-width:735px) { 
    .artigos-principais img {
        height: 300px;
    }
    
}
@media screen and (max-width:580px) { 
    .artigos-principais img {
        height: 230px;
    }
    .artigos-principais h2 {margin-top: 10%;}
    
}
@media screen and (max-width:391px) { 
    .artigos-principais img {
        height: 180px;
    }
    
}
@media screen and (min-width:1708px) { 
    .artigos-principais img {
        height: 600px;
    }
    
}

/* ================= video ===============*/

.video{
    margin-top: 2%;
    margin-bottom: 4%;
    display: flex;
   flex-direction: column;
   align-items: center;   
   
}
.video h4 {
    color: #4d3475;
    font-size: 25px;
    padding-bottom: 2%;
    text-align: center;
}
@media screen and (min-width:1700px) { 
    .video iframe {
        width: 800px;
       height: 420px;
    }
}
@media screen and (max-width:570px) { 
    .video iframe {
       width: 400px;
       height: 230px;
    }
    .video{ 
        margin-bottom: 10%;
    }
}
@media screen and (max-width:426px) { 
    .video iframe {
        width: 320px;
       height: 180px;
    }
}

/* =============== Veja Mais  ============== */

.secao-artigos-genericos h2 {
    padding-bottom: 4%;
    font-size: 40px;    

}
#vejamaish2::after {
    content:"";
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background-color: #888888;    
   display: block;
}
.artigos-genericos h4:hover {
    color:  #e3a923;
    transition-duration: 1s;   
}

/* =============== RODAPÉ ============== */


/* ============= comentários ============= */

#comentarios {   
    width: 90%;
    margin: 5% auto 5% auto;
}

#comentarios h2 { 
    text-align: center;
    font-size: 2rem;
    margin: 3% auto 3% auto;   
    width: 50%;
    color: #4d3475; 
   
}

@media screen and (max-width:400px) { 
    #comentarios h2 { 
        font-size: 1.5rem;
    }
}